<header class="site-header">
  <div class="container">
    <a class="brand" href="/">
      <span class="brand-kicker">SIDELINE CONSEIL</span>
      <span class="brand-title">Veille parlementaire sport</span>
    </a>
    <nav class="nav">
      <a href="/items/dossiers_legislatifs/">Dossiers</a>
      <a href="/items/jorf/">JORF</a>
      <a href="/items/amendements/">Amendements</a>
      <a href="/items/questions/">Questions</a>
      <a href="/items/comptes_rendus/">Comptes&nbsp;rendus</a>
      <a href="/items/publications/">Publications</a>
      <a href="/items/nominations/">Nominations</a>
      <a href="/items/agenda/">Agenda</a>
      <a href="/items/communiques/">Communiqués</a>
    </nav>
  </div>
</header>
